# Taran's Lindots .gitconfig

# Home
.bash*
.bundle/
.cache/
.cargo/
.fzf.zsh
.gems/
.gitconfig
.gnupg/
.ipython/
.local/
.m2/
.miktex/
.mozilla/
.mpd/
# .ncmpcpp/
.npm/
.pki/
.profile
.python_history
.rustup/
.sherlock/
.stremio-server/
# .tmux/
.var/
.viminfo
.vscode-oss/
.wget-hsts
.zcompdump
.zen/
.zsh_history
.zshenv
# .zshrc

Coding/
Documents/
Downloads/
Ethics/
GitHub/
Grayjay/
LocalSend/
Music/
Pictures/
University/
bin/
handsfree_bluetooth_README.txt
tmp/
tools/


legcord/
BraveSoftware/
Beeper/
BeeperTexts/
btop/
dconf/
Folo/
fontconfig/
gh/
go/
gtk-*/
kde.org/
libreoffice/
musikcube/
nvim/
obsidian/
pulse/
qalculate/
session/
sublime-text/
swaync/
systemd/
Thunar/
uv/
vesktop/
vlc/
VSCodium/
wal/
wofi/
xfce4/
yay/


dolphinrc
filetypesrc
gwenviewrc
mimeapps.list
QtProject.conf
trashrc
user-dirs.dirs
user-dirs.locale

