# Taran's Lindots .gitconfig

Beeper/
btop/
dconf/
Folo/
fontconfig/
gh/
go/
gtk-*/
kde.org/
libreoffice/
musikcube/
obsidian/
pulse/
qalculate/
session/
sublime-text/
swaync/
systemd/
Thunar/
uv/
vesktop/
vlc/
VSCodium/
wal/
wofi/
xfce4/
yay/


dolphinrc
filetypesrc
gwenviewrc
mimeapps.list
QtProject.conf
trashrc
user-dirs.dirs
user-dirs.locale

